.main{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.card{
    height: 400px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
#left{
    height:350px;
    width:35%;
    background-color: #00D3D4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#right{
    height:350px;
    width:65%;
    background-color: #dbe0e0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#marks{
    width: 250px;
    height: 20px;
    border-radius: 1rem;
    background-color: white;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(48, 47, 47);
}
button{
    width: 100px;
    height: fit-content;
}